<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Quiz</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/myScripts.js}"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"
          th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/header"></div>
<div class="container-fluid">
    <div class="container form-container-main">
        <div class="row">
            <div class="col-xs-12">
                <form action="/quiz/publish" method="post" th:object="${publishQuizDTO}">

                    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                        <p th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</p>
                    </div>

                    <div class="form-group">
                        <label for="title">Title</label>
                        <input id="title" type="text" class="form-control" th:field="${publishQuizDTO.title}"
                               th:errorclass="fieldError" required="required"/>
                    </div>

                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" id="content" rows="10" th:field="${publishQuizDTO.content}"
                                  th:errorclass="fieldError"></textarea>
                    </div>

                    <div class="fomr-group">
                        <label for="anonymous">Anonymous:</label>
                        <select id="anonymous" th:field="${publishQuizDTO.anonymous}" class="form-control">
                            <option value="1">No</option>
                            <option value="0">Yes</option>
                        </select>
                    </div>

                    <hr/>
                    <p class="title">Answers:</p>

                    <div class="form-inline">
                        <div class="form-group">
                            <button id="add_answer" type="button" class="btn btn-info">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add answer
                            </button>
                        </div>
                    </div>

                    <div class="table-con">
                        <table id="table_answers" class="table table-hover">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Type</th>
                                <th>Order</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="hidden_row" res-id="-1">
                                <td><input type="text" name="answerDTOs[res-id].title" placeholder="Title"
                                           class="form-control" required="required"/></td>
                                <td>
                                    <select name="answerDTOs[res-id].type" class="form-control">
                                        <option value="one">Radio</option>
                                        <option value="many">Checkbox</option>
                                    </select>
                                </td>
                                <td><input type="number" name="answerDTOs[res-id].order" class="form-control"
                                           value="0"/></td>
                                <td>
                                    <button type="button" class="btn btn-danger remove-row-button"><span
                                            class="glyphicon glyphicon-remove" aria-hidden="true"></span> remove
                                    </button>
                                </td>
                            </tr>
                            <tr th:each="answer, status : ${publishQuizDTO.answerDTOs}"
                                th:attr="res-id=${status.index}">
                                <td><input type="text" th:name="'answerDTOs['+${status.index}+'].title'"
                                           th:value="${answer.title}" class="form-control" required="required"
                                           th:errorclass="fieldError"/></td>
                                <td>
                                    <select th:name="'answerDTOs['+${status.index}+'].type'" class="form-control">
                                        <option value="one" th:selected="${answer.type} eq 'one'">Radio</option>
                                        <option value="many" th:selected="${answer.type} eq 'many'">Checkbox</option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" class="form-control"
                                           th:name="'answerDTOs['+${status.index}+'].order'"
                                           th:value="${answer.order}"/>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger remove-row-button"><span
                                            class="glyphicon glyphicon-remove" aria-hidden="true"></span> remove
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="form-group">
                        <button type="submit" id="save_quiz_form" class="btn btn-lg btn-success">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"></div>

</body>
</html>