<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <title th:text="${title}">Quiz</title>
    <script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/myScripts.js}"></script>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css"
          th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>
<div th:replace="fragments/header"></div>

<div class="container-fluid quiz-inside-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><h1 class="title">Что круче Java или ASP.NET?</h1></div>
                    <div class="panel-body">
                        <div class="text"><h3>Holly war holly war holly war holly war holly war holly war holly war
                            holly
                            war</h3></div>
                    </div>
                </div>

                <div th:replace="fragments/quiz/quizForm"></div>

                <div th:replace="fragments/quiz/answers"></div>

                <div th:replace="fragments/quiz/users"></div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer"></div>
</body>
</html>