$f: 'Open Sans', sans-serif;
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transform($radius) {
  -moz-transform: $radius;
  -ms-transform: $radius;
  -webkit-transform: $radius;
  -o-transform: $radius;
  transform: $radius;
}

@mixin transition($radius) {
  -webkit-transition: $radius;
  -moz-transition: $radius;
  -o-transition: $radius;
  transition: $radius;
}

html {
  color: #000;
  background: none;
  font-family: $f;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

input, textarea, select {
  *font-size: 100%;
}

legend {
  color: #000;
}

.clears {
  clear: both;
}

.fieldError {
  border: 1px solid #c12e2a;
}

.header-container {
  .navbar-header {
    .logo {
      max-width: 130px;
      margin: 7px 0px;
    }
  }
}

.form-container-main {
  padding-top: 30px;

  .table-con {
    #table_answers {

      .hidden_row {
        display: none;
      }
    }
  }
}




.main-quiz-list {
  .block {
    position: relative;
    margin: 20px 0px;
    box-shadow: 0px 1px 6px #000;
    @include transition(all 0.5s ease);

    &:hover {
      box-shadow: 0px 2px 6px #000;
      a {
      //  color: #FFF;
      }
    }

    a {
      color: #000;
      text-decoration: none;
      @include transition(all 0.5s ease);
    }

    .inside {
      padding: 30px 20px;
      min-height: 100px;
      .date {
        text-align: right;
        font-size: 12px;
        position: absolute;
        top: 5px;
        right: 20px;
      }

      .title {
        font-size: 20px;;
      }
    }

    .footer {
      background: #00B4D0;
      padding: 5px 10px;
      p {
        color: #FFF;
        font-size: 14px;
        &.expire {
          float: left;
        }
        &.voted {
          float: right;
        }
      }
    }
  }
}


.navbar-default .navbar-nav>li>a {
  cursor: pointer;
}