/* line 22, ../sass/style.scss */
html {
  color: #000;
  background: none;
  font-family: "Open Sans", sans-serif;
}

/* line 22, ../sass/style.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 22, ../sass/style.scss */
fieldset, img {
  border: 0;
}

/* line 22, ../sass/style.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 22, ../sass/style.scss */
li {
  list-style: none;
}

/* line 22, ../sass/style.scss */
caption, th {
  text-align: left;
}

/* line 22, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 22, ../sass/style.scss */
q:before, q:after {
  content: '';
}

/* line 22, ../sass/style.scss */
abbr, acronym {
  border: 0;
  font-variant: normal;
}

/* line 22, ../sass/style.scss */
sup {
  vertical-align: text-top;
}

/* line 22, ../sass/style.scss */
sub {
  vertical-align: text-bottom;
}

/* line 22, ../sass/style.scss */
input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* line 22, ../sass/style.scss */
input, textarea, select {
  *font-size: 100%;
}

/* line 22, ../sass/style.scss */
legend {
  color: #000;
}

/* line 24, ../sass/style.scss */
.clears {
  clear: both;
}

/* line 28, ../sass/style.scss */
.fieldError {
  border: 1px solid #c12e2a;
}

/* line 31, ../sass/style.scss */
.form-container-main {
  padding-top: 30px;
}
/* line 37, ../sass/style.scss */
.form-container-main .table-con #table_answers .hidden_row {
  display: none;
}
